/* .center{
    position: fixed;
};

button:disabled{
    padding: 10px 20px;
    font-size: 10px;
 
}

button:enabled{
    background-color:burlywood;
    border-radius: 5px;
    padding: 10px 11px;
    font-size: 12px;
    font-weight: 300;
    font: outline;
} */